
body {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: 150px 2113px 250px;
	grid-gap: 50px;
	
	/* Demo Specific Styles */
	margin: 0 auto;
	max-width: 1350px;
	padding: 5px;
	
  }
  
  header{
	grid-column: 1 / span 2;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	
	width: 100%;
	height: 100%;
	}
	
	.flex {
	display: flex;
	
	background: #ffffff;
	padding: 5px;
	flex-direction: column;  
	width: 100%;
	height: 100%;
	
  }
  .flex-mainitm {  
	background: #2e5b61;  
	font-size: 5px;  
	color: #eee;  
	margin: 5px; 
	padding: 170px;
  width: 700px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 -1px 54px 0 rgba(208, 211, 218, 0.5);
  background-color: #ffffff;
}

.flex-itm {  
	background: #2e5b61;  
	font-size: 2.5rem;  
	color: #eee;  
	margin: 5px; 
	padding: 5px;
  width: 250px;
  height: 397px;
  border-radius: 10px;
  box-shadow: 0 -1px 54px 0 rgba(208, 211, 218, 0.5);
  background-color: #ffffff;
}

	

  .nav {
	  margin: -5px 0px 0px -5px;
	  display: -webkit-flex;
	  display: flex;
	  flex-wrap: wrap;
  }
  .nav-itm {
	  background: #ffffff;
	  width: 220px; 
	  height: 50px;
	  font-size: 1.5rem;
	  color: #222;
	  text-decoration: none;
	  margin: 5px 0 0 5px;
	  display: -webkit-flex;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  .nav1 {
	  margin: -5px 0px 0px -5px;
	  display: -webkit-flex;
	  display: flex;
	  flex-wrap: wrap;
  }
  .nav1-itm {
	  background: #ff7eac;
	  width: 130px; 
	  height: 50px;
	  font-size: 1.5rem;
	  color: #ffffff;
	  text-decoration: none;
	  margin: 5px 0 0 5px;
	  display: -webkit-flex;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .header-bottom {
	width: 1400px;
	height: 70px;
	  background: #ffffff;
	  min-height: 50px;
	  font-size: 1.5rem;
	  color: #eee;
	  flex-basis: 100%;
	  
	  display: -webkit-flex;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  
  .header-bottom1 {
	width: 1400px;
	height: 70px;
	background-image: linear-gradient(to left, #ff7eac, #ff7eac);
	  min-height: 50px;
	  font-size: 1.5rem;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
	  flex-basis: 100%;
	  
	  display: -webkit-flex;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  
  
  
  
  main{
	grid-column: 1 / span 1;
	background: #eaeaea;
	display: flex;
	align-items: center;
	flex-basis: 100%;
	justify-content: center;
  }
  
  aside{
	background: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  footer {
	background: #eaeaea;
	display: flex;
	align-items: center;
   grid-column: 1 / span 2;
   justify-content: center;
  }
  